@import "tailwindcss";

:root {
  --foreground-1     : #ffffff;
  --foreground-2     : #e0e0e0;
  --background-dark  : #171717;
  --background-light : #212121;
  --attention        : #ff6666;

  --font-main: var(--font-Inter), Arial, Helvetica, sans-serif;
  --font-mono: var(--font-jetbrains-mono), 'Courier New', Courier, monospace;
}

* {
  padding: 0px;
  margin : 0px;
  text-wrap: balance;
}

html {
  color-scheme: dark;
}

body {
  background  : var(--background-dark);
  color       : var(--foreground-2);
  font-family : var(--font-main);
  min-height  : 100vh;
  max-width   : 100vw;
}
